.main-article {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column  ;
    min-height: 100vh;
    text-align: center;
    color: #f4f3dd;
    min-width: 100%;
    &__content {
        max-width: 50vw;
        margin-top: -20%;
    }

    &__title {
        font-size: calc(var(--index)*2);
        letter-spacing: calc(var(--index)/5.5);
        font-weight: 900;
        transform: translate3d(0, calc(var(--scrollTop)/6), 0);
        will-change: transform;
        transition: var(--transition);
    }

    &__text {
        margin-top: calc(var(--index) * 1.5);
        font-size: calc(var(--index)*1);
        transform: translate3d(0, calc(var(--scrollTop)/6), 0);
        will-change: transform;
        transition: var(--transition);
        // font-size: calc(var(--index)*1.2);
        // letter-spacing: calc(var(--index)/3.5);
        // font-weight: 900;
    }
}
.copy {
    position: absolute;
    bottom: calc(var(--index)*1);
    // transform: translate3d(0, calc(var(--scrollTop)/6), 0);
    will-change: transform;
    font-size: calc(var(--index)*0.6);
    margin-top: calc(var(--index) * 1.5);
    letter-spacing: calc(var(--index)/9.5);
    opacity: 0.45;
}
